altair
numpy
pandas
pandas_gbq
pydeck
streamlit
streamlit-authenticator
streamlit_extras
google-cloud-bigquery
google-auth 
google-auth-httplib2 
google-api-python-client
openai
oauth2client
pyexcelerate
google_auth_oauthlib
openpyxl
streamlit_antd_components
streamlit_raw_echarts